<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="darrenlawton.sausagesizzle">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <uses-permission android:name="android.permission.SEND_SMS" />
        <uses-permission android:name="android.permission.READ_CONTACTS"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LogActivity"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".SupportActivity"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".ReasonsActivity"
            android:parentActivityName=".SupportActivity">
        </activity>

        <activity
            android:name=".IamActivity"
            android:parentActivityName=".SupportActivity">
        </activity>

    </application>

</manifest>